body, html {
    width: 100%;
    height: auto;
    background-color: white;
    overflow: auto;
    background-color: rgba(118, 176, 82);
  }

.game-container {
    background-color: black;
    border-radius: 4px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}


  